name: Web App Deployment - NonCompliant
on: [push]


jobs:
  build:
    name: Web App Deployemnt - NonCompliant
    runs-on: ubuntu-latest
    steps:
      - name: Checkout tools repo
        uses: actions/checkout@v2
        with:
          repository: ammohant/nd-hello-world
          path: workflow
          
      - name: Login to Azure
        continue-on-error: true
        uses: azure/login@v1.1
        with:
         creds: ${{secrets.AAD_CREDS}}
         
      - name: Deploy to WebAPP
        uses: azure/webapps-deploy@v2
        with:
          app-name: ammohant-webapp-node
          publish-profile: ${{ secrets.PUBLISHPROFILES }}
          package: ./workflow/
      
      - name: Check for resource compliance
        uses: azure/policy-compliance-scan@v0
        with:
          scopes: |
            /subscriptions/RMDev/resourceGroups/ammohant/ammohant-webapp-node
     
